
<div class="main-content">
    <div class="container-fluid">
        <div class="card card-plain">
            <div class="card-header card-header-danger">
                <h4 class="card-title">RestAPI</h4>
                <p class="card-category">Personal RestAPI for various purposes
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="iframe-container d-none d-lg-block">
                            <iframe src="http://api.msahil432.com/">
                                <p>Your browser does not support iframes.</p>
                            </iframe>
                        </div>
                        <div class="col-md-12 d-none d-sm-block d-md-block d-lg-none d-block d-sm-none text-center ml-auto mr-auto">
                            <h5>The API is visible on Desktop mode inside an iframe. Since the iframe is not working on Mobile and Tablets please visit the site:
                                <a href="http://api.msahil432.com/" target="_blank">RestAPI</a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>