<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of techs">
                <div class="card card-stats" >
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment_turned_in</i>  
                        </div>
                        <p class="card-category">Technologies</p>
                        <h3 class="card-title">{{item.tech}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">date_range</i> <a href="projects-list">Used in {{item.used}} projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" >
                    <div class="card-header card-header-success">
                            <h2 class="title">Currently</h2>
                    </div>
                    <div class="card-body">
                        <p class="category">Looking for <h3>Internships</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="profile"><i class="material-icons">person</i> View Profile</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Site Analytics</h4>
                        <p class="card-category">Dummy Data</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Git Stats</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i></span> to be implemented</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a target="_blank" href="https://github.com/msahil432"><i class="material-icons">person</i> View Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
