<div class="logo">
    <div class="card card-profile">
        <div class="card-avatar">
            <a href="https://fb.com/sahil432">
                <img class="img" src="../assets/img/faces/marc.jpg" alt="Sahil Malik's Photo"/>
            </a>
        </div>
        <div class="content">
            <h4 class="card-title">Sahil Malik</h4>
            <a href="mailto:dev@msahil432.com"><h6 class="text-gray">dev@msahil432.com</h6></a>
            <h6 class="card-category text-gray">Software Engineer</h6>
            <!-- <h6 class="card-category text-gray">Looking for Jobs</h6> -->
            {{globals.mytag}}
        </div>
    </div>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item" *ngFor="let item of globals.mySocio">
            <a class="nav-link" href="{{item.link}}" target="_blank" rel="noreferrer">
                <p>
                    <img height="24" width ="24" src="{{item.image}}" alt="{{item.name}} Icon"/>
                    {{item.name}} /{{item.username}}
                </p>
            </a>
        </li>
    </ul>
</div>
