<div class="main-content">
        <div class="col-lg-5 col-md-12 col-sm-12">
        <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                                <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Install app</p>
                        <h3 class="card-title">Click-Away</h3>
                </div>
                <div class="card-footer">
                        <div class="stats">
                        <i class="material-icons">date_range</i> Install to increase Download Counts
                        </div>
                </div>
        </div>
        </div>
        <!-- msahil432-support -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-5745108171259405"
             data-ad-slot="8883800760"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
</div>
