<div class="logo">
    <div class="card card-profile">
        <div class="card-avatar">
            <a href="https://fb.com/sahil432">
                <img class="img" src="./assets/img/faces/marc.jpg" alt="Sahil Malik's Photo"/>
            </a>
        </div>
        <div class="content">
            <h4 class="card-title">Sahil Malik</h4>
            <a href="mailto:dev@msahil432.com"><h6 class="text-gray">dev@msahil432.com</h6></a>
            <h6 class="card-category text-gray">Senior Software Engineer</h6>
            <!-- <h6 class="card-category text-gray">Looking for Jobs</h6> -->
            {{profileData.tag}}
        </div>
    </div>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item" *ngFor="let item of profileData.socialLinks">
            <a class="nav-link" href="{{item.link}}" target="_blank" rel="noopener noreferrer" title="{{item.name}}">
                <p class="mx-4 pl-2">
                    <img height="24" width ="24" src="{{item.image}}" alt="{{item.name}} Icon"/>
                    <span class="ml-4" style="text-transform: none;">{{item.username}}</span>
                </p>
            </a>
        </li>
    </ul>
</div>
