<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of techs">
                <div class="card card-stats" >
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment_turned_in</i>  
                        </div>
                        <p class="card-category">Technologies</p>
                        <h3 class="card-title">{{item.tech}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">date_range</i> <a href="project-list">Used in {{item.used}} projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" >
                    <div class="card-content">
                        <h3 class="title">Currently</h3>
                        <p class="category">Looking for Internships</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="profile"><i class="material-icons">person</i> View Profile</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" >
                    <div class="card-header card-chart" data-background-color="red">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-content">
                        <h4 class="title">Site Analytics</h4>
                        <p class="category">Dummy Data</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="card" >
                    <div class="card-header card-chart" data-background-color="red">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-content">
                        <h4 class="title">Github Stats</h4>
                        <p class="category">To be implemented</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="https://github.com/msahil432"><i class="material-icons">access_time</i> campaign sent 2 days ago</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
