<div class="main-content">
    <div class="container-fluid">
        <!-- Some Bakwaas Stuff -->
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">About Me</h4>
            </div>
            <div class="card-body">
                <h3 class="title">My Moto</h3>
                <blockquote>{{globals.myMoto}}</blockquote>
            </div>
            <div class="card-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4" *ngFor="let quality of globals.myQualities">
                            <span class="tech-span">{{quality}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Profile Details -->

        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="title">Experience</h4>
            </div>
            <div class="card-body" *ngFor="let item of globals.myExp">
                <h3 class="title">{{item.company}}</h3>
                <p class="category">{{item.time}}</p>
                <blockquote>{{item.details}}</blockquote>
            </div>
        </div>
        <div class="card" id="education">
            <div class="card-header card-header-danger">
                    <h4 class="title">Education</h4>
            </div>
            <div class="card-body" *ngFor="let item of globals.myEdu">
                <h3 class="title">{{item.degree}}</h3>
                <h4 class="title">{{item.institute}}</h4>
                <p class="category">{{item.time}}</p>
                <blockquote>{{item.details}}</blockquote>
            </div>
        </div>
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="title">Certifications</h4>
            </div>
            <div class="card-body" *ngFor="let item of globals.myQua">
                <h3 class="title">{{item.name}}</h3>
                <blockquote>{{item.details}}</blockquote>
            </div>
        </div>
        <div class="card">
            <div class="card-header  card-header-danger">
                <h4 class="title">Awards</h4>
            </div>
            <div class="card-body" *ngFor="let item of globals.myAwa">
                <h3 class="title">{{item.name}}</h3>
                <blockquote>{{item.details}}</blockquote>
            </div>
        </div>
        <div class="card">
            <div class="card-header  card-header-danger">
                <h4 class="title">Extra Curricular Activities</h4>
            </div>
            <div class="card-body" *ngFor="let item of globals.myExc">
                <h3 class="title">{{item.name}}</h3>
                <blockquote>{{item.details}}</blockquote>
            </div>
        </div>
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="title">Professional Memberships</h4>
            </div>
            <div class="card-body" *ngFor="let item of globals.myMem">
                <h3 class="title">{{item.name}}</h3>
                <blockquote>{{item.details}}</blockquote>
            </div>
        </div>       
        
        <h3>Here are my projects:</h3>
        
        <div *ngFor="let item of globals.myPro"  id="projects">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title">{{item.role}}</h4>
                        </div>
                        <div class="card-body">
                            <a href="{{item.link}}"><h3 class="title">{{item.name}}</h3></a>
                            <h4>{{item.slogan}}</h4>
                            <p class="category">{{item.time}}</p>
                            <blockquote>{{item.details}}</blockquote>
                        </div>
                        <div class="card-footer">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4" *ngFor="let techs of item.tech">
                                        <span class="tech-span">{{techs}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Here are live projects:</h3>
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-6" *ngFor="let demo of globals.myDemos">
                    <a href="{{demo.link}}" target="_blank" rel="noreferrer">
                        <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon">
                                        <i class="material-icons">{{demo.icon}}</i>
                                </div>
                                <p class="card-category">{{demo.action}}</p>
                                <h3 class="card-title">{{demo.name}}</h3>
                                <p class="card-description text-secondary">{{demo.description}}</p>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </a>
                </div>
            </div>

    </div>
</div>
