<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div *ngFor="let item of globals.myPro">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">{{item.role}}</h4>
                        </div>
                        <div class="card-content">
                            <h3 class="title">{{item.name}}</h3><h4>{{item.slogan}}</h4>
                            <p class="category">{{item.time}}</p>
                            <blockquote>{{item.details}}</blockquote>
                        </div>
                        <div class="card-footer" *ngFor="let techs of item.tech">
                            <span><small>{{techs}}</small></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
